---
import Layout from '@layouts/Layout.astro'
import Hero from '@layouts/Hero.svelte'
import ContentLeft from '@layouts/ContentLeft.svelte'
import ContentRight from '@layouts/ContentRight.svelte'
import AutomateIllustration from '@assets/illustrations/Automate_illustration.png'
import Logos from '@assets/illustrations/logos.png'
import AIillustration from '@assets/illustrations/AI.png'
import FAQ from '@layouts/FAQ.svelte'
---

<Layout title="Welcome to Not So Traditional | Your Low Code / No Code Agency">
	<Hero client:load>
		<span slot="heading">Delight<span class="text-orange">&nbsp; your users</span></span>
	</Hero>
	<ContentLeft link="/enquire" id="automateHeading" client:load buttonText="Get in touch">
		<span slot="heading"><span class="text-orange">What</span> is user experience?</span>
		<span slot="description">
			User Experience (UX) encompasses all aspects of the interaction between users and a product or service. It involves designing intuitive, efficient, and enjoyable experiences for users, ensuring every touchpoint is seamless and satisfying.
		</span>
		<img
			slot="image"
			src={AutomateIllustration.src}
			height={AutomateIllustration.height}
			width={AutomateIllustration.width}
			alt="Illustration depicting a automation example with WebFlow, HubSpot, Slack and Customer IO"
			class="lg:max-w-[350px] xl:max-w-[500px] w-full"
		/>
	</ContentLeft>
	<ContentRight link="/enquire" id="lowCodeSection" client:visible>
		<img
			slot="image"
			src={Logos.src}
			height={Logos.height}
			width={Logos.width}
			alt="Illustration depicting a automation example with WebFlow, HubSpot, Slack and Customer IO"
			class="lg:max-w-[350px] xl:max-w-[500px] w-full"
		/>
		<span slot="heading"><span class="text-orange">What</span> is UI design?</span>
		<span slot="description">
			User Interface (UI) design focuses on the visual and interactive aspects of a product or service. It involves crafting visually appealing and intuitive interfaces that enhance user interactions and make navigating your product a breeze.
		</span>
	</ContentRight>
	<ContentLeft link="/enquire" id="uiHeading" client:visible>
		<span slot="heading"><span class="text-orange">Integrate</span> the power of artificial intelligence</span>
		<span slot="description">
			Artificial Intelligence is revolutionising the business landscape, and it’s essential for companies to harness its capabilities. By
			integrating AI into your automation processes, you can gain deeper insights into your data, enhance team performance, and improve
			customer understanding.
		</span>
		<img
			slot="image"
			src={AIillustration.src}
			height={AIillustration.height}
			width={AIillustration.width}
			alt="Illustration depicting a automation example with WebFlow, HubSpot, Slack and Customer IO"
			class="lg:max-w-[350px] xl:max-w-[500px] w-full"
		/>
	</ContentLeft>
	<FAQ
		client:visible
		items={[
			{
				title: 'Why is UX important?',
				content:
					`<ul><li>Customer Satisfaction: Great UX keeps users happy, engaged, and loyal to your brand.</li>
						<li>Increased Conversions: Well-designed experiences lead to higher conversion rates and sales.</li>
						<li>Competitive Advantage: Stand out in a crowded market with superior user experiences.</li>
						<li>Efficiency and Productivity: Streamlined interfaces save time and reduce frustration for users.</li>
						<li>Brand Perception: Positive interactions enhance your brand’s reputation and trustworthiness.<li>
					</ul>`,
				id: 'whyUX',
			},
			{
				title: 'Why is UI important?',
				content:
					`<ul><li>First Impressions: A stunning, user-friendly interface creates an immediate positive impact.</li>
						<li>Usability: Intuitive designs ensure users can easily navigate and interact with your product.</li>
						<li>Brand Identity: Consistent and attractive visuals reinforce your brand’s identity and message.</li>
						<li>User Engagement: Engaging interfaces keep users interested and coming back for more.</li>
						<li>Accessibility: Thoughtful design ensures everyone, including those with disabilities, can use your product.</li>
					</ul>`,
				id: 'WhyUI',
			},
			{
				title: 'Can I use my existing designs?',
				content:
					'Yes, however, sometimes it makes more sense to start from scratch and create a new design. We will work with you to understand your needs and provide a custom solution that meets your requirements.',
				id: 'canIUseMyDesigns',
			},
		]}
	/>
</Layout>
