---
import Layout from '@layouts/Layout.astro'
import Hero from '@layouts/Hero.svelte'
import ContentLeft from '@layouts/ContentLeft.svelte'
import ContentRight from '@layouts/ContentRight.svelte'
import AutomateIllustration from '@assets/illustrations/Automate_illustration.png'
import LowCodeProducts from '@assets/illustrations/lowCodeProducts.png'
import FAQ from '@layouts/FAQ.svelte'
---

<Layout title="Welcome to Not So Traditional | Your Low Code / No Code Agency">
	<Hero client:load />
	<ContentLeft link="/automation" id="automateHeading" client:load>
		<span slot="heading"
			><span class="text-orange">Automate</span> your processes and enhance <span class="text-orange">Productivity</span></span
		>
		<span slot="description">
			From onboarding new team members to managing leads effectively, our solutions saves you time and effort. Say goodbye to manual tasks
			and ensure seamless integration, allowing your team to focus on what truly matters.
		</span>
		<img
			slot="image"
			src={AutomateIllustration.src}
			height={AutomateIllustration.height}
			width={AutomateIllustration.width}
			alt="Illustration depicting a automation example with WebFlow, HubSpot, Slack and Customer IO"
			class="lg:max-w-[350px] xl:max-w-[500px] w-full"
		/>
	</ContentLeft>
	<ContentRight link="/code" id="lowCodeSection" client:load>
		<img
			slot="image"
			src={LowCodeProducts.src}
			height={LowCodeProducts.height}
			width={LowCodeProducts.width}
			alt="Illustration depicting a automation example with WebFlow, HubSpot, Slack and Customer IO"
			class="lg:max-w-[350px] xl:max-w-[500px] w-full"
		/>
		<span slot="heading"><span class="text-orange">Accelerate</span> your delivery with Cutting-Edge Tools</span>
		<span slot="description">
			Using low code/no code solutions enable you to ship faster without compromising quality. Whether you need landing pages, full web
			applications, or mobile apps, we’ve got you covered with efficient and robust development tools.
		</span>
	</ContentRight>
	<ContentLeft link="/ui" id="uiHeading" client:load>
		<span slot="heading"><span class="text-orange">Design</span> a world class user experience</span>
		<span slot="description">
			Ready to create an exceptional experience for your users or discover why they’re not converting? Our UX/UI services are here to help
			you delight your users and optimise engagement.
		</span>
		<img
			slot="image"
			src={AutomateIllustration.src}
			height={AutomateIllustration.height}
			width={AutomateIllustration.width}
			alt="Illustration depicting a automation example with WebFlow, HubSpot, Slack and Customer IO"
			class="lg:max-w-[350px] xl:max-w-[500px] w-full"
		/>
	</ContentLeft>
	<FAQ
		client:visible
		items={[
			{
				title: 'What is Automation as a Service?',
				content:
					'Automation is the process of using software to perform tasks that would otherwise be performed by humans. It involves using software tools to automate repetitive tasks, such as data entry, data processing, and data analysis.',
				id: 'whatIsAutomation',
			},
			{
				title: 'What is Low Code?',
				content:
					'Low code is a software development approach that involves writing less code than traditional software development. It is a method of software development that uses automation and other software tools to create software applications.',
				id: 'whatIsLowCode',
			},
			{
				title: 'What is No Code?',
				content:
					'No code is a software development approach that involves writing no code at all. It is a method of software development that uses automation and other software tools to create software applications.',
				id: 'whatIsNoCode',
			},
			{
				title: 'How much does a project cost?',
				content: 'The cost varies depending on the complexity of the project and the level of customisation required.',
				id: 'howMuchDoesItCost',
			},
			{
				title: 'What do I need to get started?',
				content: 'There is no set amount of information required, schedule a call with us to discuss your project and get started.',
				id: 'whatDoINeedToGetStarted',
			},
		]}
	/>
</Layout>
